# Node dependencies
node_modules/

# Environment variables
.env

# React build output
client/build/

# TypeScript build output
dist/
*.tsbuildinfo

# Logs
*.log

# System files
.DS_Store

#Database
*.sqlite3
